<select [(ngModel)]="searchField" (ngModelChange)="mapField($event)">
  <option *ngFor="let header of tableConfig.search.columns">{{header}}</option>
</select>
<input type="text" placeholder="Ricerca..." [(ngModel)]="searchToken" />

<table class="table table-striped border mt-1">
  <thead>
    <tr>
      <th scope="col" *ngFor="let value of tableConfig.headers" (click)="orderTable(value.key)">
        {{ value.label }}
        <span class="material-icons-sharp" *ngIf="defaultOrderType==='desc' && defaultOrderColumn===value.key">north</span>
        <span class="material-icons-sharp" *ngIf="defaultOrderType==='asc' && defaultOrderColumn===value.key">south</span>
      </th>
      <th scope="col">
        <app-generic-button (onClick)="functionCall($event)" [buttonConfig]="getButton(0)"></app-generic-button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of data | filterPipe: [searchToken,searchKey]">
      <td *ngFor="let value of tableConfig.headers">{{ d[value.key] | customDate }}</td>
      <ng-container *ngFor="let action of tableConfig.actions">
        <td *ngIf="action !== 0">
          <app-generic-button (onClick)="functionCall($event, d[tableConfig.headers[0].key])" [buttonConfig]="getButton(action)"></app-generic-button>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>
