<table class="table">
  <thead>
    <tr>
      <th *ngFor="let value of tableConfig.headers">{{ value.label }}</th>
      <th>
        <app-generic-button [buttonConfig]="getButton(0)"></app-generic-button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of data">
      <td *ngFor="let value of tableConfig.headers">{{ d[value.key] | customDate }}</td>
      <ng-container *ngFor="let action of tableConfig.actions">
        <td *ngIf="action !== 0">
          <app-generic-button [buttonConfig]="getButton(action)"></app-generic-button>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>
