<app-navbar></app-navbar>

<div *ngIf="vehicles !== undefined" class="register">
  <div class="row">
    <div class="col-sm register-right">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div align="center">
            <h1>{{title}}</h1>

            <app-generic-table [data]="vehicles" [tableConfig]="tableConfigVehicles" (emitResult)="doOperation($event)"></app-generic-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
