<div class="register">
  <div class="row">
    <div class="col-sm register-right">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h1 class="title">ACCESSO NEGATO</h1>
          <h3 class="title">Non disponi delle autorizzazioni necessarie per accedere alla pagina.</h3>
          <br/>
          <img src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Delete-no-access-denied-road-sign-146891.svg"
            width="250" height="250" class="center" />
        </div>
      </div>
    </div>
  </div>
</div>
