<div *ngIf="object !== undefined" class="register">
  <div class="row">
    <div class="col-sm register-right">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h1>{{title}}</h1>
          <div class="row register-form d-flex justify-content-center">
            <ng-container *ngFor="let key of object.keys">
              <ng-container *ngIf="entity === 'users'">
                <input *ngIf="key.key !== 'id' && key.key !== 'dateOfBirth'" [(ngModel)]="object[key.key]"
                       type="text" class="form-control" id="{{key.key}}" placeholder="{{key.label}}"
                       title="{{key.label}}" value="{{ object[key.key] }}" />&nbsp;
                <input *ngIf="key.key === 'dateOfBirth'" type="date" value="{{ object[key.key] }}"
                       [ngModel]="object[key.key] | customDate" (ngModelChange)="object[key.key]=$event" class="form-control" id="{{key.key}}"
                       placeholder="{{key.label}}" title="{{key.label}}" />&nbsp;
              </ng-container>
              <ng-container *ngIf="entity === 'vehicles'">
                <input *ngIf="key.key !== 'id' && key.key !== 'idCategory'" [(ngModel)]="object[key.key]"
                       type="text" class="form-control" id="{{key.key}}" placeholder="{{key.label}}"
                       title="{{key.label}}" value="{{ object[key.key] }}" />&nbsp;
                <select *ngIf="key.key === 'idCategory'" [ngModel]="object[key.key]" (ngModelChange)="changeCategoryValue($event)"
                        class="form-control" id="{{key.key}}" placeholder="{{key.label}}" title="{{key.label}}">
                  <ng-container *ngFor="let c of object.categories">
                    <option [selected]="c.id === object.idCategory" value="{{c.id}}">{{c.typology}}</option>
                  </ng-container>
                </select>
              </ng-container>
              <ng-container *ngIf="entity === 'categories'">
                <input *ngIf="key.key !== 'id'" [(ngModel)]="object[key.key]"
                       type="text" class="form-control" id="{{key.key}}" placeholder="{{key.label}}"
                       title="{{key.label}}" value="{{ object[key.key] }}" />&nbsp;
              </ng-container>
              <ng-container *ngIf="entity === 'rentals'">
                <select *ngIf="key.key === 'idUser'" [ngModel]="object[key.key]" class="form-control" id="{{key.key}}"
                        disabled placeholder="{{key.label}}" title="{{key.label}}">
                  <option selected value="{{object.user.id}}">{{object.user.name}} {{object.user.surname}}</option>
                </select>&nbsp;
                <select *ngIf="key.key === 'idVehicle'" [ngModel]="object[key.key]" class="form-control" id="{{key.key}}"
                        disabled placeholder="{{key.label}}" title="{{key.label}}">
                  <option selected value="{{object.vehicle.id}}">{{object.vehicle.model}}</option>
                </select>&nbsp;
                <input *ngIf="key.key === 'dateOfStart' || key.key === 'dateOfEnd'" type="date" value="{{ object[key.key] }}"
                       [ngModel]="object[key.key] | customDate" (ngModelChange)="object[key.key]=$event" class="form-control" id="{{key.key}}"
                       placeholder="{{key.label}}" title="{{key.label}}" />&nbsp;
              </ng-container>
            </ng-container>
            <div class="col-md-6 mt-4">
              <div class="form-group">
                <app-generic-button [buttonConfig]="saveButton" (emitter)="btnClick($event)"></app-generic-button>
                &nbsp;
                <app-generic-button [buttonConfig]="undoButton" (emitter)="btnClick($event)"></app-generic-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
