<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2 class="active">ACCEDI A RENTAL CAR</h2>
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <input ngModel type="text" id="login" name="username" class="fadeIn second" placeholder="Username"
             [(ngModel)]="form.username" required #username="ngModel" />
      <div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
        <div *ngIf="username.errors.required">Inserire Username.</div>
      </div>
      <input ngModel type="password" id="login" name="password" class="fadeIn third" placeholder="Password"
             [(ngModel)]="form.password" required #password="ngModel" />
      <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
        <div *ngIf="password.errors.required">Inserire Password.</div>
      </div>
      <button class="btn btn-primary btn-submit">
        ACCEDI
      </button>
      <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger mt-3 mb-0">{{errorMessage}}</div>
    </form>
  </div>
</div>
