<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2 class="active">ACCEDI A RENTAL CAR</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input type="text" id="login" class="fadeIn second" formControlName="username" placeholder="Username"
             [ngClass]="{'is-invalid': submitted && formFields.username.errors }" />
      <div *ngIf="submitted && formFields.username.errors" class="invalid-feedback">
        <div *ngIf="formFields.username.errors.required">Inserire Username.</div>
      </div>
      <input type="password" id="login" class="fadeIn third" formControlName="password" placeholder="Password"
             [ngClass]="{'is-invalid': submitted && formFields.password.errors }" />
      <div *ngIf="submitted && formFields.password.errors" class="invalid-feedback">
        <div *ngIf="formFields.password.errors.required">Inserire Password.</div>
      </div>
      <button [disabled]="loading" class="btn btn-primary btn-submit">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        ACCEDI
      </button>
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error.error}}</div>
    </form>
  </div>
</div>
