<div align="center">
  <h2>{{title}}</h2>

  <app-generic-button (onClick)="functionCall('save')" [buttonConfig]="saveButton"></app-generic-button>
  &nbsp;&nbsp;
  <app-generic-button (onClick)="functionCall('edit')" [buttonConfig]="editButton"></app-generic-button>
  &nbsp;&nbsp;
  <app-generic-button (onClick)="functionCall('delete')" [buttonConfig]="deleteButton"></app-generic-button>
  &nbsp;&nbsp;
  <app-generic-table [data]="users" [tableConfig]="tableConfigUser"></app-generic-table>
  &nbsp;&nbsp;
  <app-generic-table [data]="categories" [tableConfig]="tableConfigCategory"></app-generic-table>
  <router-outlet></router-outlet>
</div>
