<select #selectedField (change)="mapField(selectedField.value)">
  <option selected disabled>Seleziona...</option>
  <option *ngFor="let header of tableConfig.search.columns">{{header}}</option>
</select>
<input type="text" placeholder="Ricerca..." [(ngModel)]="searchToken" />

<div class="main-div">
  <div class="text-justify mt-2 mb-2 ml-2">
    Visualizza&nbsp;
    <select #itemsPerPage (change)="changeItemsPerPage(itemsPerPage.value)">
      <option *ngFor="let page of tableConfig.pagination.itemPerPageOptions">{{page}}</option>
    </select>
    &nbsp;elementi
  </div>

  <table class="table table-striped border mt-1">
    <thead>
    <tr>
      <th scope="col" *ngFor="let value of tableConfig.headers" (click)="orderTable(value.key)">
        {{ value.label }}
        <span class="material-icons-sharp" *ngIf="defaultOrderType==='desc' && defaultOrderColumn===value.key">keyboard_arrow_up</span>
        <span class="material-icons-sharp" *ngIf="defaultOrderType==='asc' && defaultOrderColumn===value.key">keyboard_arrow_down</span>
      </th>
      <th scope="col" *ngIf="token === 'jwt-token-admin' && tableConfig.actions[0].text === 'Inserisci'">
        <a routerLink="{{currentRoute}}/new" routerLinkActive="active">
          <app-generic-button (emitter)="onClickButton($event, tableConfig.actions[0])" [buttonConfig]="tableConfig.actions[0]"></app-generic-button>
        </a>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let d of data | filterPipe: searchToken : searchKey | paginationPipe: currentPage : tableConfig.pagination.itemPerPage">
      <ng-container *ngFor="let value of tableConfig.headers">
        <td *ngIf="value.key !== 'idCategory' && value.key !== 'idUser' && value.key !== 'idVehicle'">{{ d[value.key] | customDate }}</td>
        <td *ngIf="value.key === 'idUser'">{{d['user'].name}} {{d['user'].surname}}</td>
        <td *ngIf="value.key === 'idVehicle'">{{d['vehicle'].model}}</td>
        <td *ngIf="value.key === 'idCategory'">{{d['category'].typology}}</td>
      </ng-container>
      <ng-container *ngIf="token === 'jwt-token-admin'">
        <ng-container *ngIf="tableConfig.headers[0].label !== 'idPrenotazione'">
          <ng-container *ngFor="let action of tableConfig.actions">
            <td *ngIf="action.text !== 'Inserisci' && action.text !== 'Prenota'">
              <a routerLink="{{currentRoute}}/{{action.icon}}/{{d['id']}}" routerLinkActive="active">
                <app-generic-button (emitter)="onClickButton($event, action, d)" [buttonConfig]="action"></app-generic-button>
              </a>
            </td>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="tableConfig.headers[0].label === 'idPrenotazione'">
          <td *ngIf="!d['approved']">
            <a routerLink="{{currentRoute}}/{{tableConfig.actions[2].icon}}/{{d['id']}}" routerLinkActive="active">
              <app-generic-button (emitter)="onClickButton($event, tableConfig.actions[2], d)" [buttonConfig]="tableConfig.actions[2]"></app-generic-button>
            </a>&nbsp;
            <a routerLink="{{currentRoute}}/{{tableConfig.actions[3].icon}}/{{d['id']}}" routerLinkActive="active">
              <app-generic-button (emitter)="onClickButton($event, tableConfig.actions[3], d)" [buttonConfig]="tableConfig.actions[3]"></app-generic-button>
            </a>
          </td>
          <td *ngIf="d['approved']">
            Prenotazione approvata.
          </td>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="token === 'jwt-token-customer'">
        <ng-container *ngIf="tableConfig.headers[0].label === 'idPrenotazione'">
          <td *ngIf="!d['approved'] &&
          ((today - moment(d['dateOfStart']).toDate().getTime()) / (1000 * 3600 * 24)) <= 2">
            <a routerLink="/vehicle/car_rental/{{d.vehicle.id}}/edit/{{d['id']}}" routerLinkActive="active">
              <app-generic-button (emitter)="onClickButton($event, tableConfig.actions[0], d)" [buttonConfig]="tableConfig.actions[0]"></app-generic-button>
            </a>&nbsp;
            <a routerLink="/vehicle/car_rental/delete/{{d['id']}}" routerLinkActive="active">
              <app-generic-button (emitter)="onClickButton($event, tableConfig.actions[1], d)" [buttonConfig]="tableConfig.actions[1]"></app-generic-button>
            </a>
          </td>
          <td *ngIf="d['approved']">
            Prenotazione approvata.
          </td>
        </ng-container>
        <ng-container *ngIf="tableConfig.headers[0].label === 'idVeicolo'">
          <td *ngIf="!d['actuallyRented']">
            <a routerLink="{{currentRoute}}/{{tableConfig.actions[3].icon}}/{{d['id']}}/new" routerLinkActive="active">
              <app-generic-button (emitter)="onClickButton($event, tableConfig.actions[3], d)" [buttonConfig]="tableConfig.actions[3]"></app-generic-button>
            </a>
          </td>
          <td *ngIf="d['actuallyRented']">
            Veicolo attualmente prenotato.
          </td>
        </ng-container>
      </ng-container>
    </tr>
    </tbody>
  </table>

  <div class="text-right mt-2 mb-2 mr-2">
    <button class="btn btn-primary" [disabled]="currentPage === 0" (click)="changePage(currentPage - 1)">
      <span class="material-icons">skip_previous</span>
    </button>
    <button class="btn btn-primary" [disabled]="currentPage === pagesNumber - 1" (click)="changePage(currentPage + 1)">
      <span class="material-icons">skip_next</span>
    </button>
  </div>
</div>
